# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# Alembic
alembic/versions/*.pyc

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

plan.md